# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
bin/

# macOS
.DS_Store

# Java
*.class
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
hs_err_pid*

# Package files
*.zip
*.tar.gz
*.rar